*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
dist
dist_v8
dist_quickjs
dist_hermes
dist_jsc
dist_*
/test-app/analytics/build-statistics.json
/test-app/build-tools/*.log
